body{
  color: black;
}

body{
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.presentation img{
  height: 300px;
  width: 300px;
}
.projects img{
  height: 2in;
  width: 2in;
  border-radius: 50%;
}
