body{
  color: white;
}

body{
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.presentation img{
  height: 3in;
  width: 2in;
}
.projects img{
  height: 2in;
  width: 2in;
  border-radius: 50%;
}
